.gallery {
  position: relative;
  margin-bottom: 35px;
  &__name {
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: $gray;

  }
  &__controls {
    position: absolute;
    left: -20px;
    top: 220px;
    z-index: 4;
    width: 710px;
    display: flex;
    justify-content: space-between;
  }

  &__control {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #f9fcff;
    background-image: linear-gradient(
                    to right,
                    rgba(0, 0, 0, 0.1) 0%,
                    rgba(0, 0, 0, 0.0) 100%);
    border-radius: 50%;
    transition: background-image 0.6s ease;
    vertical-align: bottom;

    &:hover,
    &:focus {
      background-image: none;
      background-color: #eaeaeb;
    }

    &::after {
      content: '';
      position: absolute;

      bottom: 15px;
      width: 10px;
      height: 10px;
      transform-origin: center;
      transform: rotate(-45deg);
    }

    &--prev {
      &::after {
        right: 14px;
        border-top: 3px solid $elem-gray;
        border-left: 3px solid $elem-gray;
      }

    }

    &--next {
      &::after {
        right: 16px;
        border-bottom: 3px solid $elem-gray;
        border-right: 3px solid $elem-gray;
      }
    }
  }

  &-for {
    height: 420px;
    margin-bottom: 20px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &-nav {
    height: 90px;
    margin-bottom: 10px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .slick-track {
      height: 90px;
    }

    .slick-slide {
      width: 127px !important;
      height: 80px;
      margin-right: 8px;
      div {
        line-height: 0;
      }
    }

    .slick-current {
      box-shadow: 0px 4px 10px 0px rgba(60, 99, 217, 0.3);
    }

  }

  &__index {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
  }

}