.page-header {
  position: absolute;
  left: 0;
  right: 0;
  height: 138px;

  .container {
    width: 100%;
    max-width: 1520px;
    padding: 0 10px;
  }

  &--inner {
    background-color: $white;
    box-shadow: 0 2px 40px 0 rgba(60, 99, 217, 0.2);
  }

}


