$lato: 'Lato', Arial, sans-serif;

$white: #fff;
$black: #32363b;
$gray: #7b8087;
$gray-text: #afacac;
$border-gray: #e8e8e8;
$elem-gray: #c6c6c6;
$green: #24da89;
$blue: #4c70df;
$blue-text: #7294fc;




